/*Configurações dos "DASHBOARDS*/

.borderDash{
    border-radius: 20px;
    margin-left: 10px;
}

.dashClientes{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #9AFF9A;
}

.dashProdutos{
    background-color: #90EE90;
}

.dashVendas{
    background-color: #7CCD7C;
}

.tituloDash{
    font-size: 20px;
}

.valorDash{
    font-size: 50px;
}